{% assign base_favicon_url = "/assets/img/icons/favicon" %}

<link rel="icon" type="image/png" sizes="32x32" href="{{ base_favicon_url }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ base_favicon_url }}/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_favicon_url }}/favicon-16x16.png">
<link rel="manifest" href="{{ base_favicon_url }}/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ base_favicon_url }}/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
